.flexbox-grow-0 .item{
    flex-grow: 0;

}

.flexbox-grow-1 .item{
    flex-grow: 1;
}

.flexbox-grow-1 .item-grow-3{
    flex-grow:3;
}

.flexbox{
    display: flex;
    border: 2px solid black;
    margin: 2rem;

}

.item{
    box-sizing: border-box;
    padding: 2rem;
    background: brown;
    color: white;
    margin: 5px;
}

.item-A{
    padding-bottom: 4rem;
}

.item-B{
    padding-top: 3rem;
    padding-bottom: 6rem;
}
